@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    margin: 0;
    transition: all 0.2 ease-in-out;
    resize: none;
    outline: none;
    border: 0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, li, button {
    font-family: Work Sans;
    color: #fff;
    text-decoration: none;  
    letter-spacing: 0.5px;
    font-style: normal;
  }

body {
    background-color: #111;
    cursor: default;
    max-width: 1140px;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 70px;
    gap: 10px;

    & .img1 {
        width: 100%;
        height: 55%;
    }

    & div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;

        & .texts {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 50%;
            padding: 5px;
            gap: 10px;

            & p {
                font-size: 1.1vw;
                font-weight: 300;
                text-align: justify;
            }

            & button {
                cursor: pointer;
                font-size: 1.4vw;
                font-weight: 600;
                padding: 10px 45px;
                border-radius: 100px;
                background-color: gray;
                color: #fff;
                border: 0;
            }
        }

        & .imgs {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            height: 30vh;

            & img {
                height: 100%;
                width: 100%;
            }
        }
    }
}